<main>
    <section class="section-form">
        <img src="/assets/svg/logo-white.svg" alt="">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-container">
            <button class="btn-primary">{{ primaryButtonTxt }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{ secondaryButtonTxt }}</button>
        </div>
        
    </section>
    <section class="main-section">
        <h1>Lorem Ipson</h1>
        <img src="/assets/svg/main-illustration.svg" alt="">
    </section>
</main>
