<main>
    <section class="section-form">
        <img src="/assets/svg/logo.svg" alt="">
        <h2>{{ title }}</h2> <!-- recebe o valor do @ Input text definido no aquivo default-login-layout-components.ts--->
        <ng-content></ng-content>
        <div class="btn-container">
            <button class="btn-primary" (click)="submit()">{{ primaryButtonTxt }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click) = "navigate">{{ secondaryButtonTxt }}</button>
        </div>
        
    </section>
    <section class="main-section">
       
    </section>
</main>
