
<app-default-login-layout 
    title = "Entre na sua conta"
    primaryButtonTxt = "Entrar"
    secondaryButtonTxt = "Criar uma conta"
    (submit) ="submit()"
    (navigate) = "navigate()"
>

<form [formGroup]="loginForm">
    <app-primary-input 
        formControlName ="email"
        inputName = "email"
        type = "email"
        label ="E-mail"
        placeholder = "user@gmail.com" 
        >
        
        <img src="../../../assets/svg/icon-email.svg">

    </app-primary-input>

    <app-primary-input 
        formControlName ="password"
        inputName  = "password"
        type = "password"
        label ="Digite sua senha"
        placeholder=" "
        >
        
        <img src="../../../assets/svg/icon-senha.svg">
    </app-primary-input>
    <span>Esqueci a minha senha</span>

</form>
</app-default-login-layout>